// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  @media (max-width: $breakpoint-xs-max) {
    padding: 0 0.75rem;
  }
}
